@import url('../../BibliotecaEstilo/BibliotecaEstilo.css');
@import url('../../BibliotecaEstilo/StylePadrao.css');
@import url(../modalCadastro/modalCadastro.css);

.container__sectionsMain_Sobre {

    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
    

}

.container__sectionsMain_Sobre .texto__comum {

    font-size: 16px;

}

.texto__comum {

    font-weight: var(--pesoTexto-titulo);

}

.texto__vermelho {

    color: var(--vermelho-primario);

}

.container__sectionsMain_Sobre .texto__titulo {

    font-size: 40px;

}

.texto__titulo {
    
    font-weight: var(--pesoTexto-titulo);
    
}

.container__textoInformativo {

    width: 47em;

}

.container__sectionsMain_Sobre .texto__informativo {

    font-size: 20px;

}

.texto__informativo {

    font-weight: var(--pesoTexto-informativo);
    color: var(--cor-textoComum);

}

.container__sectionsProjetos {

    padding: 0 2em;
    margin-bottom: 6em;

}

.container__sectionsProjetos_informacoes {

    display: flex;
    justify-content: center;
    gap: 2em;

}

.container__sectionsVagas, .container__sections_DetalhesVagas, .container__sectionsColaboradores {

    margin-bottom: 6em;

}

.container__sectionsProjetos_informacoesContainer {

    text-align: start;
    width: 16em;

}

.container__sectionsProjetos_informacoes .texto__titulo {

    font-size: 60px;

}

.container__sectionsProjetos_informacoes .texto__comum{

    font-size: 18px;
    margin: 16px 0;

}

.container__sectionsProjetos_informacoes .texto__informativo {

    font-size: 16px;

}

.container__sectionsVagas_primeirasInformacoes, .container__sectionsColaboradores_comentarios {

    display: flex;
    margin-bottom: -4em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}

.container__sectionsVagas_primeirasInformacoes, .container__sectionsColaboradores_comentarios, .container__sectionsColaboradores {

    padding:0 8em;

}

.container__sectionsVagas_primeirasInformacoes .texto__comumMenor {

    font-size: 14px;
    
}

.container__sectionsVagas_primeirasInformacoes .texto__titulo {

    font-size: 36px;
    
}

.container__sectionsVagas_primeirasInformacoes .texto__informativo {

    font-size: 20px;
    
}

.container__sectionsVagas_primeirasInformacoes .texto__comumMenor {

    padding: 8px;
    border-radius: 8em;

}

.background__texto {

    background-color: var(--fundoVermelho-baixaOpacidade);

}

.texto__comumMenor {
    
    font-weight: var(--pesoTexto-medio  );
    
}

.imagemReunião {

    margin-top: 3em;
    max-width: 100%;
    border-radius: 8px;
    height: auto;
    
}

.container__sections_DetalhesVagConjunto {

    gap: 2em;
    text-align: start;
    padding: 0 24em;
    
}

.container__sections_DetalhesVagConjunto, .container__sectionsColaboradores_comentarios {

    display: flex;
    flex-direction: column;
    max-width: 100%;

}

.container__sections_DetalhesVagConjunto .texto__comumMenor {

    margin: 2em 2em .5em 0;
    font-size: 20px;

}

.container__sections_DetalhesVagContainer {

    display: flex;
    flex-direction: column;
    gap: 2em;
    border: solid 1px rgba(234, 236, 240, 1);
    box-shadow:  0px 0px 8px rgba(234, 236, 240, 1);
    border-radius: 16px;
    padding: 2em;
    
}

.container__sections_DetalhesVagContainer .texto__comumMenor {

    margin: 0;
    font-size: 18px;

}

.container__sections_DetalhesVagContainer .texto__informativo {

    font-size: 16px;

}

.container__sectionsColaboradores_comentarios {

    gap: 2em;
    border-radius: 16px;
    background-color: var(--fundoVermelho-baixaOpacidade);
    padding: 3em 0;

}

.container__sectionsColaboradores_comentariosInformativa, .container__sectionsColaboradores_comentariosColaboradores {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;

}

.container__sectionsColaboradores_comentariosInformativa .texto__titulo {

    font-size: 14px;

}

.container__sectionsColaboradores_comentariosInformativa .texto__comum {

    font-size: 36px;

}

.container__sectionsColaboradores_comentariosColaboradores img {

    height: auto;

}

.container__sectionsColaboradores_comentariosColaboradores .texto__comum {

    font-size: 16px;

}

.container__sectionsColaboradores_comentariosColaboradores .texto__informativo {

    font-size: 14px;

}
